
.header {
    background-color: #392941;
    text-align: center;
    padding: 10px;
    color:white;
  }

h1 {
    font-family: 'sans-serif', Verdana, Tahoma;
    font-size: 54px;
    font-weight: normal;

   
}

h2 {
    font-family: 'sans-serif', Verdana, Tahoma;
    font-size: 28px;
    font-weight: normal;
}

h3 {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 12px;
  font-weight: bold;
}

h5 {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 11px;
  font-weight: bold;
}

p {
  font-family: 'sans-serif', Verdana, Tahoma;
  font-size: 14px;
}
/* --------------------------------------------------------------------------- */
.footer {
    background-color: #29354171;
    text-align: center;
    padding: 1px;
    color:white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
  }

  .footerlink:link {
    color:#293541;
    text-decoration: none;
  }
  
  .footerlink:hover {
    color:#293541;
    text-decoration: underline;
  }
  
  .footerlink:visited {
    color:#293541;
    text-decoration: none;
  }
  